<nav>
    <div class="site-title">
        <a href="/">
            <h1>Blog Arsenal</h1>
        </a>
        <p>Made by an Arsenal fan</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>