<!DOCTYPE html>
<html lang="en">
<!-- display head -->
<%- include('./partials/head.ejs') %>

    <body>

        <!-- display nav -->
        <%- include('./partials/nav.ejs') %>

            <div class="about content">
                <h2>About us</h2>
                <p>ARSENAL ARSENAL ARSENAL ARSENAL ARSENAL</p>
                <p>GUNNER GUNNER GUNNER GUNNER GUNNER GUNNER</p>
                <p>FOR LIFE FOR LIFE FOR LIFE FOR LIFE FOR LIFE</p>
            </div>

            <!-- display footer -->
            <%- include('./partials/footer.ejs') %>

    </body>

</html>